@font-face {
    font-family: 'Minecraft Five';
    src: url('MinecraftFive.ttf') format('truetype');
}

@font-face {
    font-family: 'Minecraft Seven';
    src: url('MinecraftSeven.ttf') format('truetype');
}

body {
    font-family: 'Minecraft Five', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('skinpack.jpeg'); /* Ruta de tu imagen de fondo */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
    color: #7fff00;
    min-height: 100vh; /* Establecer la altura mínima del cuerpo para ocupar toda la ventana del navegador */
    display: flex;
    flex-direction: column; /* Alinear el contenido en una columna */
}

header {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para mejorar la legibilidad del encabezado */
    color: #fff;
    padding: 20px 0;
    position: relative;
    z-index: 1;
}

.container p {
    max-width: 80%; /* Limitar el ancho del párrafo para que no se extienda demasiado */
    background-color: rgba(0, 0, 0, 0.5);
}

.social-links {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para mejorar la legibilidad de los enlaces sociales */
    padding: 20px;
}

.container {
    flex-grow: 1; /* Hacer que el contenedor principal ocupe el espacio disponible */
    display: flex;
    justify-content: flex-start;
    align-items: center; /* Alinear el contenido al inicio del contenedor */
    flex-direction: column;
}

h1 {
    font-family: 'Minecraft Seven', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.social-links {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para mejorar la legibilidad de los enlaces sociales */
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: center;
}

.social-link {
    margin-right: 20px;
}

.network {
    font-weight: bold;
}

.twitter {
    color: #55acee; /* Azul para Twitter */
}

.youtube {
    color: #FF0000; /* Rojo para YouTube */
}

.instagram {
    color: #FED000; /* Amarillo para Instagram */
}

.social-icon {
    color: inherit;
    text-decoration: none;
}

.social-icon:hover {
    text-decoration: underline;
}

.download-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #55acee;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.download-link:hover {
    background-color: #0077cc;
}

.back-link {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.2em;
    color: #00ff00; /* Color verde programador */
    text-decoration: none;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
}

.back-link:hover {
    background: rgba(0, 0, 0, 0.7);
}

.models-link {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    text-decoration: none;
    color: #ff0000; /* Color del enlace */
    background-color: rgba(0, 0, 0, 0.5);
}

.models-link:hover {
    text-decoration: underline;
}

.youtube-video {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {
    body {
        padding: 10px; /* Reducir el relleno alrededor de la página */
    }

    h1 {
        font-size: 2em; /* Reducir el tamaño del título para dispositivos móviles */
        margin: 10px; /* Reducir el margen del título */
    }

    p {
        font-size: 14px; /* Reducir el tamaño del texto para dispositivos móviles */
        margin-bottom: 10px; /* Reducir el espacio entre los párrafos */
    }

    .link-container {
        flex-direction: column; /* Cambiar a una disposición de columna para dispositivos móviles */
        align-items: center; /* Centrar los enlaces en dispositivos móviles */
    }

    .link-container a {
        font-size: 1.5em; /* Reducir el tamaño de los enlaces para dispositivos móviles */
        padding: 8px 16px; /* Reducir el relleno de los enlaces */
        margin: 5px 0; /* Reducir el margen de los enlaces */
    }

    .social-links {
        position: static; /* Cambiar a posicionamiento estático para dispositivos móviles */
        margin-top: 20px; /* Añadir margen superior para separar los enlaces sociales */
        padding: 10px; /* Reducir el relleno de los enlaces sociales */
    }

    .social-link {
        margin-right: 10px; /* Reducir el margen entre los enlaces sociales */
    }

    .social-link p {
        font-size: 1em; /* Reducir el tamaño del texto de los enlaces sociales */
    }

    .models-link {
        margin-top: 10px; /* Añadir margen superior para separar el enlace de modelos */
    }

    .youtube-video {
        position: static; /* Cambiar a posicionamiento estático para dispositivos móviles */
        display: block; /* Mostrar en pantallas pequeñas */
        margin-top: 20px; /* Añadir margen superior para separar el video */
    }
}
.custom-select-container {
    position: relative;
    width: 200px;
    height: 64px;
    background: url('globe.png') no-repeat left center / contain;
    background-color: #000;
    border: 2px solid #00ff00;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    flex: 1;
    height: 100%;
    padding: 10px;
    font-family: 'Minecraft Five', sans-serif;
    font-size: 1.5em;
    color: transparent;
    background: none;
    cursor: pointer;
    outline: none;
    border: none;
}

select:focus {
    border-color: #55acee;
}

.select-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    font-size: 1.2em;
    color: #00ff00;
}

.custom-arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    width: 24px;
    height: 24px;
    background: url('arrow.png') no-repeat center center / contain;
}